[Desktop Entry]
Version=1.4
Type=Application
Name=XEphem
GenericName=Astronomical ephemeris calculator
Exec=xephem
Icon=io.github.xephem
Terminal=false
Categories=Science;Astronomy
X-Desktop-File-Install-Version=0.26